.postbody-container{
    display: flex;
    justify-content: center;
}
.postbody-box{
    display: flex;
    width: 1200px;
    height: 550px;

}
.postbody-box-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 49, 47)
}
.postbody-box-left{
    flex: 1.4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(110, 112, 111)
}